<div class="modal fade" id="viewBudgetModal" tabindex="-1" role="dialog" aria-labelledby="viewBudgetModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3>Budget Progress</h3>
      </div>

      <div  class="modal-body">
        <div class="row">
          <div class="col-md-12" id="view_budget_detail">

          </div>
        </div>

      </div>



      <div class="modal-footer">

          <div class="col-md-6">
          <button class="btn btn-success pull-right" id="close_view_budget" data-dismiss="modal" aria-hidden="true">Done</button>
          </div>
        </div>

    </div>
  </div>
        </div>


