<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3>Tag Transaction</h3>
      </div>

      <div id="transactionDetail" class="modal-body"></div>
        <div class="row">
      <div class="col-md-12">
        <form action="" method="post">
          <div class="form-group">
          <p>
            Transaction ID
            <input type="number" class="form-control" id="tag_id" readonly>
            </p>
          </div>
          <div class="form-group">
          <p>
            Date
            <input type="text" class="form-control" id="tag_date" readonly>
            </p>
          </div>
          <div class="form-group">
          <p>
            Name
            <input type="text" class="form-control input-sm" id="tag_name" readonly>
            </p>
          </div>
          <div class="form-group">
          <p>
            Account
            <input type="text" class="form-control input-sm" id="tag_account" readonly>
            </p>
          </div>
          <div class="form-group">
          <p>
            Category
            <input class="form-control input-sm" id="tag_category" readonly>
            </p>
          </div>
          <div class="form-group">
          <p>
            Sub-Category
            <input class="form-control input-sm" id="tag_sub_category" readonly>
            </p>
          </div>
          <div class="form-group">
            <p>
              Tag
              <input class="form-control input-sm" id="tag_tag">
              </p>
            </div>
            <div class="form-group">
              <p>
                Budget
                <input class="form-control input-sm" id="tag_budget">
                </p>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <hr class="featurette-divider">
                    <div class="row">
                      <div class="col-md-12">
                      <input type="checkbox" name="tag_all_box" id="tag_all_box" value="1" />  Tag All?<br />
                      </div>
                    </div>
                    <hr class="featurette-divider">
                    <div class="row">
                      <div class="col-md-12">
              Choose Existing Tag
              <ul class="list-group addScroll" id="tags_available">
              </ul>
            </div>
            </div>

            </div>
              <div class="col-md-6">
                <hr class="featurette-divider">
                <div class="row">
                  <div class="col-md-12">
                  <input type="checkbox" name="budget_all_box" id="budget_all_box" value="1" />  Add all to Budget?<br />
                </div>
              </div>
              <hr class="featurette-divider">
                <div class="row">
                  <div class="col-md-12">
              Choose Existing Budget
              <ul class="list-group" id="budgets_available">

              </ul>
            </div>
            </div>

            </div>
            </div>
          </div>

        <div class="modal-footer">
          <!-- <button class="btn" id="categorize" data-dismiss="modal" aria-hidden="true">Category Change</button>
          <button class="btn" id="ucat" data-dismiss="modal" aria-hidden="true">Update</button> -->
          <button class="btn btn-success pull-right" id="tagDone" data-dismiss="modal" aria-hidden="true">Save Changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
  </div>

